/* JOSEPH CAMPOS 06/02/2017 : START */
.navbar-inverse {
    background-color: #062F75;
    border-color: #080808;
    box-shadow: 0px 0px 3px 3px #848484;    
}

footer {
  z-index: 999999;
  font-size: x-small;
  text-align: center;
  bottom: 0;
  position: relative !important;
  padding-bottom: 1px;
  width: 100%;
  border-bottom: 0 none;
  border-top-width: 2px;
  box-shadow: 0px 0px 3px 3px #848484;
  background: #062F75;
  margin-top: 10px;
}

  footer p {
    color: #FFF;
    padding-top: 7px;
    font-size: 12px;
  }

footer {
    height: 40px;
    position: fixed !important;
    margin-top: 15px;
}

    footer p {
        font-size: 10px;
    }

    footer .container {
        margin-top: 3px;
        
    }

    .table-header th{
        background-color: #d9edf7;
    }

/* JOSEPH CAMPOS 06/02/2017 : END */